<Configuration status="WARN" monitorInterval="300">
	<properties>
		<property name="LOG_HOME">logs</property>
		<property name="FILE_NAME">log</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="logFile" fileName="${LOG_HOME}/${FILE_NAME}.log"
			filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd HH-mm}-%i.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
		<Logger name="com.ads.dao" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="logFile" />
		</Logger>
		<Logger name="com.ads" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="logFile" />
		</Logger>
	</Loggers>
</Configuration>